<div class="fullheight">
  <mat-toolbar color="primary">
    <span> {{navLinks[activeLinkIndex]?.label}} </span>
    <span class="example-fill-remaining-space"></span>
  </mat-toolbar>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <nav mat-tab-nav-bar headerPosition="below" backgroundColor="primary" color="accent" mat-stretch-tabs
    mat-align-tabs="center">
    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>
</div>