/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100vh;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    justify-items: stretch;
    justify-self: stretch;
    align-content: stretch;
    align-items: stretch;
    align-self: stretch;
    height: 95%;
    position: relative;
}